html {
    --s: 84px; /* control the size*/
    --c1: #f2f2f2;
    --c2: #cdcbcc;
    --c3: #999999;
    
    --_g: 0 120deg,#0000 0;
    background:
      conic-gradient(from    0deg at calc(500%/6) calc(100%/3),var(--c3) var(--_g)),
      conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--c2) var(--_g)),
      conic-gradient(from  120deg at calc(100%/3) calc(500%/6),var(--c1) var(--_g)),
      conic-gradient(from  120deg at calc(200%/3) calc(500%/6),var(--c1) var(--_g)),
      conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
      conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
      conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
    background-size: calc(var(--s)*1.732) var(--s);
  }
  

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;
}

.form-container {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form+p, form p{
    text-align: center;
}

input, button{
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
    font-size: larger;
}

button{
    background-color: #999999;
    font-weight: bold;
    cursor: pointer;
}

.error{
    color: red;
}

.escondido{
    display: none;

}

.sr-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

}

.pass{
    align-items: center;
    text-align: center;
}